


<div class="table text-center">
    <div class="row text-center">
        <div class="col-12 text-center">
            <div class="row">
                <div class="offset-4 col-1">
                    <img src="/images/tomato-icon.png" class="tomato-icon" />
                </div>
                <div class="col-1">
                    <ul id="horizontal-list">

                        <li>
                            <NavLink class="" href="">
                                <span class="oi" aria-hidden="true"></span> Pomodoro
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="" href="/settings">
                                <span class="oi" aria-hidden="true"></span> Settings
                            </NavLink>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>


</div>